<nav class="navbar navbar-default">
	<a class="navbar-brand" href="">Cadastro de Usuário</a>
</nav>
<div class="container" style="margin-top: 70px;">

<div class="jumbotron">

<h3>Informações do novo usuário</h3>
<br>
<form name="usuarioForm">
	Nome: <input type="text" name="nome" ng-model="nome" class="form-control" ng-required="true">
		  <span style="color: red;" ng-show="usuarioForm.nome.$invalid && usuarioForm.nome.$dirty">Você deve informar um nome para o usuário</span>
	<br>
	Idade: <input type="number" name="idade" ng-model="idade" class="form-control" ng-required="true">
		   <span style="color: red;" ng-show="usuarioForm.idade.$invalid && usuarioForm.idade.$dirty">Você deve informar a idade do usuário</span>
	<br>
	Sexo: <br><input type="radio" value="Masculino" ng-model="sexo"> Masculino
	<br>
	<input type="radio" value="Feminino" ng-model="sexo"> Feminino
	<br>
	<br>
	Adicionar Cartão de Crédito?
	<br>
	<input name="" ng-click ="mostrarCartao('Sim')" type="radio" value="Sim" ng-model="possuiCartao"> Sim&nbsp;&nbsp;
	<input name="" ng-click ="mostrarCartao('Não')" type="radio" value="Não" ng-model="possuiCartao"> Não
	<br>
	<br>
	<div ng-show = "temCartao">
		Numero do cartão: <input type="number" name="" ng-model="numero_cartao" class="form-control" style="margin-bottom: 10px;"> 	
	</div>
	<button ng-click="cadastrar()" class="btn btn-success" ng-disabled="usuarioForm.$invalid">Cadastrar</button><br>
</form>

</div>
</div>